<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-top">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Contoso University</a>
        </div>
        <div class="navbar-collapse collapse navbar-collapse-top">
            <ul class="nav navbar-nav" style="margin-left:20px">
                <li><a asp-area="" asp-controller="Students" asp-action="Index">Students</a></li>
                <li><a asp-area="" asp-controller="Courses" asp-action="Index">Courses</a></li>
                <li><a asp-area="" asp-controller="Instructors" asp-action="Index">Instructors</a></li>
                <li><a asp-area="" asp-controller="Departments" asp-action="Index">Departments</a></li>
            </ul>
        </div>
    </div>
    <div class="container pull-left">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-left">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-collapse-left">
            <ul class="nav navbar-nav side-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li>
                    <a href="#demo" data-toggle="collapse">Magical Interface <span class="glyphicon glyphicon-plus"></span></a>

                    <button id="demo" href="@Url.Action("Index", "SPAin1Platform")" class="collapse btn-primary pull-right btn-lg">
                        SPA in 1 Platform
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>